    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Titillium+Web&display=swap');
    * {
        /*reseteo CSS*/
        margin: 0;
        padding: 0;
        font-family: 'Anton', sans-serif;
    }
    
    body {
        background-color: #403B4A;
        /*color de fondo*/
    }
    
    .menu {
        /*caracteristicas del contenedor flex del menu*/
        display: flex;
        justify-content: space-evenly;
        margin: 1rem 0;
        padding: 2rem 2rem;
        background: #000000;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #000000, #403B4A);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #000000, #403B4A);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        ;
        .menu__titulos {
            /*caracteristicas del menu*/
            color: #E1D1F0;
            text-decoration: none;
            /*eliminar subrayado de los enlaces*/
            transition: all 0.5s;
            /*Transicion cuando el mouse se coloca sobre ese item*/
        }
        .menu__titulos:hover {
            /*caracteristicas de la transicion*/
            color: #9C8EA9;
            font-style: italic;
        }
    }
    
    h1 {
        /*caracteristicas del titulo visible para el usuario*/
        color: #D1D1D1;
        text-align: center;
        font-size: 400%;
        transition: all 2s;
        /*Transicion cuando el mouse se coloca sobre ese item*/
    }
    
    h1:hover {
        /*caracteristicas de la transicion*/
        font-size: 500%;
    }
    
    h2 {
        /*caracteristicas del titulo del html visible para el usuario*/
        color: #D1D1D1;
        text-align: center;
        font-size: 250%;
    }
    
    h3 {
        /*caracteristicas del titulo de la seccion*/
        color: #9C8EA9;
        text-align: center;
        margin-top: 5%;
        font-size: 200%;
    }
    
    h4 {
        /*caracteristicas del titulo del item*/
        text-align: center;
        margin-bottom: 5%;
        font-size: 150%;
    }
    
    div {
        color: #1652a1;
        /*caracteristicas dentro de los div*/
    }
    
    p {
        /*caracteristicas del texto p*/
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-size: 20px;
        text-align: left;
    }
    
    ul {
        list-style-type: none;
        /*eliminar viñetas y numeros de las listas*/
    }
    
    .carousel-inner {
        margin-top: 2rem;
    }
    
    .sectionEnIndex {
        /*caracteristicas del contenedor de las seciones en index*/
        align-items: center;
        margin: 2rem 2rem;
        div img {
            display: block;
            /*pasar elemento en linea a bloque*/
            margin: auto;
            /*margen en auto para poder centrar el elemento*/
        }
    }
    
    .sectionEnArtistas {
        /*caracteristicas del contenedor flex de las secciones en artistas*/
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 2rem;
        .sectionEnArtistas__div {
            /*margenes para el div de las secciones en artistas*/
            margin: 1rem 1rem;
            iframe {
                display: block;
                /*pasar elemento en linea a bloque*/
                margin: auto;
                /*margen en auto para poder centrar el elemento*/
            }
            img {
                display: block;
                /*pasar elemento en linea a bloque*/
                margin: auto;
                /*margen en auto para poder centrar el elemento*/
            }
        }
    }
    
    .sectionEnBlog {
        /*caracteristicas del contenedor flex de las secciones en blog*/
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 2rem;
        div {
            /*margenes para el div de las secciones en blog*/
            margin: 1rem 1rem;
            img {
                display: block;
                /*pasar elemento en linea a bloque*/
                margin: auto;
                /*margen en auto para poder centrar el elemento*/
            }
        }
    }
    
    .navEnFAQ {
        /*caracteristicas del contenedor flex del nav en FAQ*/
        display: flex;
        flex-direction: column;
        /*apilar los items en columna*/
    }
    
    .form {
        /*caracteristicas del contenedor para grid del formulario*/
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 12 columnas */
        grid-template-rows: repeat(8, 1fr);
        /* 8 filas */
        margin-top: 2%;
        .form__nombre {
            /*caracteristicas del subcontenedor para grid */
            grid-column: 2/8;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
        }
        .form__apellido {
            /*caracteristicas del subcontenedor para grid */
            grid-column: 2/8;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
        }
        .form__email {
            /*caracteristicas del subcontenedor para grid */
            grid-column: 2/8;
            grid-row: 3/4;
            display: flex;
            flex-direction: column;
        }
        .form__comonosconociste {
            /*caracteristicas del subcontenedor para grid */
            grid-column: 2/8;
            grid-row: 4/5;
            display: flex;
            flex-direction: column;
        }
        .form__comentarios {
            /*caracteristicas del subcontenedor para grid */
            grid-column: 2/8;
            grid-row: 5/7;
            display: flex;
            flex-direction: column;
        }
        .form__Newsletter {
            /*caracteristicas del subcontenedor para grid */
            grid-column: 2/8;
            grid-row: 7/8;
        }
        .form__Enviar {
            /*caracteristicas del subcontenedor para grid */
            grid-column: 2/8;
            grid-row: 8/9;
        }
        label {
            /*tamaño de fuente de los labels del formulario */
            font-size: 150%;
        }
    }
    
    .contenedorEnShop {
        /*caracteristicas del contenedor para grid de los items del shop*/
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 12 columnas */
        grid-template-rows: repeat(12, 1fr);
        /* 12 filas */
        /*gap: 10px;*/
        h4 {
            /*caracteristicas del subcontenedor para grid */
            grid-column: 2/13;
            grid-row: 1/13;
        }
        .contenedorEnShop__izq {
            /*caracteristicas del subcontenedor para grid */
            grid-column: 2/6;
            grid-row: 2/12;
        }
        .contenedorEnShop__concepto {
            /*caracteristicas del subcontenedor para grid */
            grid-column: 6/7;
            grid-row: 2/12;
            background-color: #D1D1D1;
        }
        .contenedorEnShop__detalles {
            /*caracteristicas del subcontenedor para grid */
            grid-column: 7/12;
            grid-row: 2/12;
            background-color: #D1D1D1;
        }
    }
    
    .footer {
        /*caracteristicas del contenedor para flex del pie de pagina */
        background-color: black;
        padding: 2rem;
        p {
            /*caracteristicas del texto p dentro del pie de pagina*/
            color: #D1D1D1;
        }
        a {
            text-decoration: none;
            /*eliminar subrayado de los enlaces*/
        }
    }